<div>
  <form #f="ngForm" (ngSubmit)="submitForm(f)">
    <h2>Informations générale</h2>
    <div class="form-group">
        <label for="id">nom</label>
        <input type="text" class="form-control" name="name" id="name" ngModel required #test="ngModel">
    </div>
    <div *ngIf="test.invalid && (test.dirty || test.touched)" class="alert alert-danger">
        <div *ngIf="test.errors?.['required']">
            <p class="text-danger">Name is required</p>
        </div>
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ngModel #testemail="ngModel">
    </div>
    <div *ngIf="testemail.invalid && (testemail.dirty || testemail.touched)" class="alert alert-danger">
      <div *ngIf="testemail.errors?.['required']">
        <p class="text-danger">E-mail is required</p>
      </div>
        <div *ngIf="testemail.errors?.['pattern']">
        <p class="text-danger">Email not valid</p>
      </div>
    </div>

    <h2>Informations de payement</h2>
    <div class="form-group">

          <div class="form-group">
            <label for="typecarte">Type de carte :</label>
            <select name="typecarte" id="typecarte" ngModel required #testtypecarte="ngModel">
              <option value="">Sélectionnez un type de carte</option>
              <option value="visa">Visa</option>
              <option value="mastercard">Mastercard</option>
            </select>
          </div>
          <div *ngIf="testtypecarte.invalid && (testtypecarte.dirty || testtypecarte.touched)" class="alert alert-danger">
            <div *ngIf="testtypecarte.errors?.['required']">
                <p class="text-danger">Card type is required</p>
            </div>
        </div>

          <div class="form-group">
            <label for="numcarte">Numéro de carte:</label>
            <!-- <input type="text" class="form-control" id="numcarte" name="numcarte" required pattern="[0-9]{16}" ngModel #testnumcarte="ngModel"> -->
            <input type="text" class="form-control" name="numcarte" ngModel minlength="16" required #testnumcarte="ngModel">
          </div>
          <div *ngIf="testnumcarte.invalid && (testnumcarte.dirty || testnumcarte.touched)" class="alert alert-danger">
              <div *ngIf="testnumcarte.errors?.['required']">
                  <p class="text-danger">Card number is required</p>
              </div>
              <div *ngIf="testnumcarte.errors?.['minlength']">
                <p class="text-danger">Minium length is is 16 for Card number</p>
            </div>
          </div>

          <div class="form-group">
            <label for="date">Date d'expiration :</label>
            <input type="text" class="form-control" id="date" name="date" ngModel required #testdate="ngModel">
          </div>
          <div *ngIf="testdate.invalid && (testdate.dirty || testdate.touched)" class="alert alert-danger">
              <div *ngIf="testdate.errors?.['required']">
                  <p class="text-danger">Expiration Date is required</p>
              </div>
          </div>
          <div class="form-group" [hidden]="f.invalid">
              <label for="code">Code : </label>
              <input type="text" class="form-control" name="code" id="code" >
          </div>
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>
    </div>
  </form>
</div>